* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  background-color: black;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.grid {
  font-family: 'VT323', monospace;
  color: yellow;
  background-color:black;
  background-image: url(../assets/Starrysky.jpg);
  background-size: 200vh;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 110vh;
  max-width: 110vh;
}

.grid h1{
  font-size: 500%;
}

.grid h2{
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  20% {
    opacity: 0;
  }
}


.start {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    max-height: 1200px;
    max-width: 1200px;
  }

  .score {
    color: yellow;
    font-family: 'VT323', monospace;
    margin: 2%;
    padding: 1%;
    border: 1px solid yellow;
    align-items: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    max-height: 30vh;
    max-width: 22.5vh;
  }
  


.grid div {
  /* border: 1px solid yellow; */
  flex-grow: 1;
  height: 4.76%;
  width: 4.76%;
}

.grid div.player {
  background-image: url(../assets/MilleniumFalcon.png);
  background-size: 80%;
  background-position-x: 50%;
  background-position-y: 50%;
  
}


.grid div.playerlaser {
  background-image: url(../assets/laserbeam.png);
  background-size: 80%;
  background-position-x: 25%;
  background-position-y: 40%; 
}

.grid div.aliens {
  background-image: url(../assets/TieFighter.png);
}

.grid div.explosion {
  background-image: url(../assets/Explosion.png);
  background-size: 130%;
  background-position-x: 20%;
  background-position-y: 20%;
}

.grid div.enemylaser {
  background-image: url(../assets/EnemyLaser.png);
  background-size: 38%;
  background-repeat: space;
  /* background-position-x: 20%;
  background-position-y: 5%; */
}